../.idea/
eia2022.csv
BrianScott/EIA Data/eia_data.pkl
ShaneDirksen/CIC_malmem/Obfuscated-MalMem2022.csv
BrianScott/EIA Data/bpat_wide.xlsx
BrianScott/EIA Data/bpat_wide.csv
BrianScott/EIA Data/respondents.csv
BrianScott/Fires Case Study/RDS-2013-0009.4_SQLITE.zip
BrianScott/Fires Case Study/fires_clean.pkl
BrianScott/Fires Case Study/fires_raw.pkl
BrianScott/Fires Case Study/Data/FPA_FOD_20170508.sqlite
BrianScott/Fires Case Study/Supplements/FPA_FOD_Source_List.pdf
BrianScott/Fires Case Study/_metadata_RDS-2013-0009.4.xml
BrianScott/Fires Case Study/_metadata_RDS-2013-0009.4.html
.gitignore
BrianScott/Fires Case Study/_fileindex_RDS-2013-0009.4.html
BrianScott/Fires Case Study/fires_prepared.pkl
